.navbar{
    z-index: 1;
    position: fixed;
    height: 30px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    /* Aniamtion */
    transition-timing-function: ease-in;
    transition: all 0.5s;
}
.navbar__black{
    background-color: #111;
}
.navbar__logo{
    object-fit: contain;
    width: 80px;
}
.navbar__avatar{
    object-fit: contain;
    width: 30px;
}
.navbar__menu{
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
}
.navbar__menu > a{
    text-decoration: none;
    color: white;
}
.navbar__menuItem{
    padding: 1rem;
    font-size: 1rem;
    font-weight: 700;
    transition: all 0.5s;
}
.navbar__menuItem:hover{
    background-color: white;
    color: #111;

}